flows(5).json
[
    {
        "id": "22805b59579aa185",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccdfd932e0db0649",
        "type": "http request",
        "z": "22805b59579aa185",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.370234&lon=-99.046874&appid=24d36046e3791fff5159aa7aee2cde91&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "f4635928ebdb5444"
            ]
        ]
    },
    {
        "id": "f4635928ebdb5444",
        "type": "json",
        "z": "22805b59579aa185",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "2e72b3da75c6db78",
                "3ad55dd92df251c4"
            ]
        ]
    },
    {
        "id": "f2a5df95c958470e",
        "type": "inject",
        "z": "22805b59579aa185",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "ccdfd932e0db0649"
            ]
        ]
    },
    {
        "id": "a4189c83555c921c",
        "type": "ui_gauge",
        "z": "22805b59579aa185",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ad7fa8",
            "#4e9a06",
            "#729fcf"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "2e72b3da75c6db78",
        "type": "function",
        "z": "22805b59579aa185",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.main.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3ad55dd92df251c4",
        "type": "function",
        "z": "22805b59579aa185",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "a4189c83555c921c"
            ]
        ]
    },
    {
        "id": "ec56cf60aec57d31",
        "type": "mqtt in",
        "z": "22805b59579aa185",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "731edda2a0cfbbea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "ca2897c02ea7bbb2"
            ]
        ]
    },
    {
        "id": "ca2897c02ea7bbb2",
        "type": "json",
        "z": "22805b59579aa185",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "3f04c9c52c2f4793",
                "332f90bb22bb3ca8"
            ]
        ]
    },
    {
        "id": "3f04c9c52c2f4793",
        "type": "function",
        "z": "22805b59579aa185",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "879d14273548e6d4"
            ]
        ]
    },
    {
        "id": "879d14273548e6d4",
        "type": "ui_chart",
        "z": "22805b59579aa185",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "332f90bb22bb3ca8",
        "type": "function",
        "z": "22805b59579aa185",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "024eb00cf6162b07"
            ]
        ]
    },
    {
        "id": "024eb00cf6162b07",
        "type": "ui_chart",
        "z": "22805b59579aa185",
        "name": "",
        "group": "23e233393ff5a984",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0541cf5fe338d910",
        "type": "inject",
        "z": "22805b59579aa185",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\";\"Chirino\",\"temp\";23.6}",
        "payloadType": "str",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "a0c8e1e9a2fe27e3"
            ]
        ]
    },
    {
        "id": "a0c8e1e9a2fe27e3",
        "type": "function",
        "z": "22805b59579aa185",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Chirino Iztapalapa, CDMX\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "26c974472fc4e9e3"
            ]
        ]
    },
    {
        "id": "26c974472fc4e9e3",
        "type": "mqtt out",
        "z": "22805b59579aa185",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "731edda2a0cfbbea",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "bc15d51defe5c521",
        "type": "comment",
        "z": "22805b59579aa185",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "6e5c186a0d23380c",
        "type": "comment",
        "z": "22805b59579aa185",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "6fa9f56e610bdada",
        "type": "comment",
        "z": "22805b59579aa185",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "3c7277286374b1fb",
        "type": "ui_gauge",
        "z": "22805b59579aa185",
        "name": "",
        "group": "755c4fd5c87aab86",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "%",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#729fcf",
            "#4e9a06",
            "#ef2929"
        ],
        "seg1": "14",
        "seg2": "20",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "b5b605cfa045de6f",
        "type": "ui_spacer",
        "z": "22805b59579aa185",
        "name": "spacer",
        "group": "755c4fd5c87aab86",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "755c4fd5c87aab86",
        "type": "ui_group",
        "name": "Personal",
        "tab": "17dcf33741d41f5a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "731edda2a0cfbbea",
        "type": "mqtt-broker",
        "name": "g9",
        "broker": "3.123.49.252",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "23e233393ff5a984",
        "type": "ui_group",
        "name": "General",
        "tab": "17dcf33741d41f5a",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17dcf33741d41f5a",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]